*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cosmos-icon-color: #ffffff;
}

body {
  background-size: cover;
  background: #001a30;
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 68px;
  padding-inline: 24px;
  position: fixed;
  width: 100vw;
  z-index: 3;
  pointer-events: none;
}

header nav {
  margin-left: auto;
}

a {
  all: unset;
  cursor: pointer;
}

.header-nav {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 22, 43, 0.4);
  border-radius: 999px;
  border: 1px solid #ffffff1a;
  display: inline-flex;
  height: 37px;
}

.header-nav a {
  align-items: center;
  display: flex;
  margin-right: 32px;
  position: relative;
}

.header-nav a:first-child {
  margin-left: 40px;
}

.header-nav a:last-child {
  margin-right: 40px;
}

.header-nav a:first-child::after {
  background: rgb(234, 29, 45);
  bottom: -1px;
  content: '';
  height: 2px;
  position: absolute;
  width: 100%;
}

header .logo img {
  height: 36px;
}

header .user {
  --cosmos-icon-size: 26px;
}

header .menu {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 22, 43, 0.4);
  border-radius: 999px;
  overflow: hidden;
}

footer {
  background-color: #001a30;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  display: flex;
  justify-content: space-between;
  padding: 52px 64px;
  z-index: 4;
  position: relative;
}

section {
  min-height: 100vh;
  padding: 64px;
}

section:not(:first-of-type) {
  padding-top: 32px;
  padding-bottom: 32px;
}

section:last-of-type {
  padding-bottom: 128px;
}

section.intro {
  background-image: url('./assets/max-takes-on-the-shanghai-circuit.avif');
  background-size: cover;
  display: flex;
  align-items: end;
}

section.intro::before {
  background: rgba(0, 15, 30, 0.4);
  content: '';
  position: absolute;
  inset: 0;
}

section.intro::after {
  background: linear-gradient(to bottom, transparent, #001a30 90vh);
  content: '';
  position: absolute;
  inset: 0;
}

section.intro .intro-content {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.intro .intro-content .circuit {
  width: 130px;
}

section.intro .intro-content .reports {
  display: flex;
  gap: 10px;
}

section.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
  place-content: center;
  justify-items: center;
}

section .quote {
  --cosmos-icon-color: yellow;
  --cosmos-icon-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

section.text {
  min-height: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

section.text .content {
  max-width: 560px;
  margin: 0 auto;
}

section.text .content img {
  margin-top: 10px;
  width: 60vw;
}

section.split.text {
  grid-template-columns: auto 1fr;
}

section.hero img {
  max-width: 70vw;
  margin: 0 auto;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
